<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultat de la requête</title>
</head>
<body>
    <h1>Résultat de la requête</h1>
    <p>Nom : {{ nom_employe }}</p>
    <p>Prénom : {{ prenom_employe }}</p>
    <p>Catégorie : {{ categorie }}</p>
    <p> adresse mail : {{ coupleadress }}</p>


</body>
</html>