<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Employé séléctionné </title>
</head>
<body>
    <h1>Résultat du Formulaire</h1>
    <p> id : {{ employe.id }}</p>
    <p> nom : {{ employe.nom }}</p>
    <p> prenom : {{ employe.prenom }}</p>
    {% if category %}
        <p> categorie : {{ category.name }}</p>
    {% else %}
        <p> categorie : Aucune catégorie</p>
    {% endif %}
</body>
</html>
