


<head>
    <meta charset="utf-8">
    <title>Le titre</title>


    <style>
      p, div.bouton { background: rgba(240, 240, 240, .5) ; border: solid 1px ; padding: 10px ; width: 40em ; font-style: italic ; }
div.envoi { text-align: center ;  width: 40em ; }
div div {  margin-left: 4em ; font-style: normal ; }
    </style>
  </head>

<form action="{% url 'search_employee' %}" method="post">
    {% csrf_token %}

    <p>
        Employé recherché :
        <select name="employe">
        {% for employe in employee %}
            <option value="{{ employe.id }}">{{ employe.nom }}</option>
        </select>
    </p>

    <div class="envoi"><input type="submit">

    </div>
</form>

