<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultat de la requête</title>
</head>
<body>
    <h1>Bienvenue</h1>

    <a href="http://127.0.0.1:8000/monappli/requete1" target="_blank">requete 1</a>

    <a href="http://127.0.0.1:8000/monappli/requete2" target="_blank">requete 2</a>

    <a href="http://127.0.0.1:8000/monappli/requete3" target="_blank">requete 3</a>

    <a href="http://127.0.0.1:8000/monappli/request4" target="_blank">requete 4</a>

    <a href="http://127.0.0.1:8000/monappli/requete5" target="_blank">requete 5</a>


</a>
</body>
</html>


