<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultat de la requête</title>
</head>
<body>
    <a href="http://127.0.0.1:8000/monappli/index" target="_blank">accueil </a>
    <h1>Résultat de la requête</h1>
    <p>Ma date du début : {{ date_debut }}</p>
    <p>Ma date de fin : {{ date_fin }}</p>
    <p> Mon employé : {{ employe_nom }} {{ employe_prenom }}</p>
    nb de mail envoyé :
    <p>Ma liste de couple : {{ liste1 }}</p>

    nb de mail reçu :
    <p>Ma liste de couple : {{ liste2 }}</p>


</body>
</html>


