<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Le titre</title>
    <style>
      p, div.bouton { background: rgba(240, 240, 240, .5) ; border: solid 1px ; padding: 10px ; width: 40em ; font-style: italic ; }
div.envoi { text-align: center ;  width: 40em ; }
div div {  margin-left: 4em ; font-style: normal ; }
    </style>
</head>
<body>
<a href="http://127.0.0.1:8000/monappli/index" target="_blank">accueil </a>
    <h1> TITRE </h1>



    <form action="{% url 'PgdNBmail' %}" method="post">
        {% csrf_token %}

        <p>
            type d'échange :
            <select name="IntExt">
                <option value="">--Please choose an option--</option>
                <option value="Interne/Interne">Interne et Interne</option>
                <option value="IE">Interne et Externe</option>
                <option value="IIIE"> Les deux </option>
            </select>

            date de début:
            <input type="date" name="date_debut">
            date de fin:
            <input type="date" name="date_fin">


        </p>

    <div class="envoi"><input type="submit">

    </div>
</form>
</body>
</html>

